<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Release Date</th>
      <th>Running Time</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movies; trackBy: trackByKey">
      <td>{{ m.movie.title }}</td>
      <td>{{ m.movie.description }}</td>
      <td>{{ m.movie.releaseDate }}</td>
      <td>{{ m.movie.runningTime }} min</td>
      <td>
        <img *ngIf="m.movie.imageUrl; else noImage" [src]="m.movie.imageUrl" width="80" />
        <ng-template #noImage>No image</ng-template>
      </td>
      <td>
        <button (click)="onView(m)">View</button>
        <button (click)="onViewSimilar(m)">View Similar</button>
        <button (click)="onUpdate(m)">Update</button>
        <button (click)="onDelete(m)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>